body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1863px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:623px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1863px;
  height:623px;
}
#u5 {
  position:absolute;
  left:2px;
  top:304px;
  width:1859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:1710px;
  top:47px;
  width:43px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u8 {
  position:absolute;
  left:1755px;
  top:47px;
  width:43px;
  height:16px;
  color:#FF6600;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u10 {
  position:absolute;
  left:1801px;
  top:51px;
  width:12px;
  height:8px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
